body{
    border: 1px solid red;
    text-align: center;
    background: black;
    width : 1000;
    display:flex;
  }


  img
  {
    border: 3px solid black;
    text-align: center;
    width : 200;
    height : 200; 
  }
  figcaption {
    color:lightblue;
    }
  .video_wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      border:solid,black;
    }
    .one {
      grid-column: 1;
      grid-row: 1;
      width: 200;
      height: 200;
    }
    .two { 
      grid-column: 2;
      grid-row: 1 ;
      width: 200;
      height: 200;
    }
    .three {
      grid-column: 3;
      grid-row: 1 ;
      width: 200;
      height: 200;
    }
    .four {
      grid-column: 4;
      grid-row: 1;
      width: 200;
      height: 200;
    }
  
  .container {
      font-family: 'Times New Roman', Times, serif, sans-serif;
      font: medium;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap; 
    }
    li a{color:lightblue}
    .flex {
      background: black;
      padding: 10px;
      margin-bottom: 50px;
      color: white;
      font-size: 14px;
      text-align: center;
      position: relative;
    }
    
    .flex:after {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 100%;
      margin-top: 10px;
      width: 100%;
      color: #333;
      font-size: 12px;
    }
    
    .flex1 {
      flex-basis: auto;
    }
    
  
    
    .flex2 {
      flex-basis: max-content;
    }
    
    .flex2:after {
      content: 'max-content';
    }
    
    .flex3 {
      flex-basis: min-content;
    }
    
    .flex3:after {
      content: 'min-content';
    }
    
    .flex4 {
      flex-basis: fit-content;
    }
    
    .flex4:after {
      content: 'fit-content';
    }
    
    .flex5 {
       flex-basis: content;
    }
    
    .flex5:after {
      content: 'content';
    }
    
    .flex6 {
      flex-basis: fill;
    }
    
    .flex6:after {
      content: 'fill';
    }
  
  
  
  
  
  
