body{
    
    text-align: center;
    background: darkblue;
    display:flex;
    font-family:calibri,'Times New Roman', Times, serif, sans-serif;
  }
  h1 { 
     font-size:20px; 
    color: transparent; 
    text-shadow: 2px 5px 5px  
        rgba(255, 255, 255, 0.3); 
} 
  h2 { 
     font-size:14px; 
    color: transparent; 
    text-shadow: 2px 5px 5px  
        rgba(255, 255, 255, 0.3); 
} 
h3 {
  display: white;
  color:lightblue;
  font-size:14px; 
  font-weight: bold;
}
h4 {
  color:lightblue;
  font-size:16px; 
  font-weight: bold;
  text-shadow: 2px 5px 5px  
        rgba(255, 255, 255, 0.3); 
}
p{
  color:lightblue;
  font-size:16px; 
  text-align:left;
}

  .small_image{
    width: 200px;
    height: 121px;
    font-size:50px; 
    color: lightblue;
  }
figcaption {
  position: relative;
  background-color: darkblue;
  color: lightblue;
  text-align: center;
  margin-top:12px
}
  .video_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 50px;
      grid-auto-rows: minmax(200px, auto);
      border:solid,darkblue;
      margin-top:50px;
    }
.interview_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      grid-template-rows: 100px 200px;

    }

figure {
  text-align: center;
  margin:auto;
}

    .one {
      grid-column: 1;
      grid-row: 1;
      width: 200;
      height: 200;
    }
    .two { 
      grid-column: 2;
      grid-row: 1 ;
      width: 200;
      height: 200;
    }
    .three {
      grid-column: 3;
      grid-row: 1 ;
      width: 200;
      height: 200;
    }
    .four {
      grid-column: 4;
      grid-row: 1;
      width: 200;
      height: 200;
    }
    .five {
      grid-column: 5;
      grid-row: 1;
      width: 200;
      height: 200;
    }
  
  .container {
      font-family: calibri,'Times New Roman', Times, serif, sans-serif;
      font: medium;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap; 
      margin-bottom:50px;
    }
    li a{color:lightblue}
    .flex {
      background: darkblue;
      padding: 10px;
      margin-bottom: 10px;
      color: white;
      font-size: 16px;
      text-align: center;
      position: relative;
    }
    
    .flex:after {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 100%;
      margin-top: 10px;
      width: 100%;
      color: #333;
      font-size: 16px;
    }
    
    .flex1 {
      flex-basis: auto;
    }
    
  
    
    .flex2 {
      flex-basis: max-content;
    }
    
    .flex2:after {
      content: 'max-content';
    }
    
    .flex3 {
      flex-basis: min-content;
    }
    
    .flex3:after {
      content: 'min-content';
    }
    
    .flex4 {
      flex-basis: fit-content;
    }
    
    .flex4:after {
      content: 'fit-content';
    }
    
    .flex5 {
       flex-basis: content;
    }
    
    .flex5:after {
      content: 'content';
    }
    
    .flex6 {
      flex-basis: fill;
    }
    
    .flex6:after {
      content: 'fill';
    }
  
  
  
  
  
  
